.about {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 75px;

    &:after {
      display: block;
      content: '';
      width: 40px;
      height: 4px;
      background-color: #1e1c1c;
      margin-top: 10px;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    column-gap: 1.5em;

    @media (min-width: 768px) {
      width: 740px;
    }

    @media (min-width: 1024px) {
      width: 980px;
    }

    @media (min-width: 1200px) {
      width: 1170px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }
}
